@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Redressed", "cursive";
}

body {
  min-height: 100px;
  font-size: 16px;
}

header {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header h1 {
  margin-right: 200px;
}

.logo {
  color: #000000;
  font-size: 2.2rem;
}

.logo:hover {
  cursor: pointer;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.nav-list li {
  font-size: 1.3rem;
  padding: 1rem 0.7rem;
  border-right: none;
  font-weight: bold;
}

.heading-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 400px;
  background-image: url("./images/29.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.heading-container h2,
p {
  font-size: 2.5rem;
  color: white;
}

.heading-container p {
  width: 50%;
  text-align: center;
}

.form input {
  width: 500px;
  height: 45px;
  border-radius: 10px;
  padding: 10px;
  border: none;
}

.form input:focus {
  outline: 0;
}

.form #button {
  width: 50px;
  height: 45px;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  border: none;
}

.card {
  width: 100px;
  height: 200px;
  background-repeat: no-repeat;
}
.cards-containers {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px 10px 10px 0;

}
.card-cont {
    width: 20vw;
    padding: 10px;

}
.img{
    width: 100%;
}
.results-title {
    width: 100%;
    text-align: center;
    font-size: 60px;
}
section{
    width: 100%;
}